* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    background-color: #282d35;
}

/* --- Header Component --- */

.nav {
    display: flex;
    align-items: center;
    background-color: #21222a;
    height: 12vh;
    padding: 1.875em 1.563em;
}

.nav--logo-text, 
.nav--title {
   margin: 0;
}

.nav--logo-text {
    margin-right: auto;
    color: #61dafb;
    font-weight: 700;
    font-size: 1.5rem;
}

.nav--title {
    color: #deebf8;
    font-weight: 600;
}

.nav--icon {
    height: 70%;
    margin-right: 0.45em;
}


/* --- Main Component --- */

main {
    padding: 3.55em 1.687em;
    color: #fff;
    background-image: url(./images/react-icon-large.png);
    background-repeat: no-repeat;
    background-position: right 55%;
}

.main--title {
    margin: 0;
    font-size: 2.45rem;
}

.main--facts > li {
    line-height: 2;
    padding-block: 10px;
}

.main--facts > li::marker {
    font-size: 1.6rem;
    color: #61dafb;
}



/* --- Footer Component --- */

footer {
    text-align: center;
    color: #fff;
}

/* --- Media Queries --- */


@media screen and (min-width: 480px) {
    body {
        max-width: 900px;
        margin: 0 auto;
    }
}